$react-upload-media-options: (
  size: 200px,
) !default;

.react-upload-media {
  $size: map-get(
    $map: $react-upload-media-options,
    $key: size,
  );

  display: inline-block;

  .is-item {
    display: inline-block;
    overflow: hidden;
    width: $size;
    height: $size;
    border: 1px solid #ccc;
    padding: 2px;
    margin-right: 10px;

    &.is-image {
      position: relative;
      .react-upload-self {
        width: 100%;
        height: 100%;
      }

      > .is-remove {
        position: absolute;
        z-index: 1;
        right: 5px;
        top: 5px;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        width: 24px;
        height: 24px;
        background: rgba(0, 0, 0, 0.3);
        border: none;
        border-radius: 20px;

        &:hover,
        &:active {
          background: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  > .is-uploader {
    position: relative;
    border: 3px dashed #ccc;
    background: #eee;
    transition: all 0.3s;
    text-align: center;
    border-radius: 4px;

    &:hover {
      background: darken(#eee, 5%);
      border-color: darken(#ccc, 10%);
    }

    &:active {
      background: darken(#eee, 8%);
      border-color: darken(#ccc, 10%);
    }

    > .is-form-control {
      vertical-align: middle;
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
    }

    > .is-placeholder {
      line-height: $size;
      color: #999;
      font-size: 14px;
      pointer-events: none;
      user-select: none;
    }
  }
}
